/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-color: #007bff;
    --main-text-color: #fff;
    --border-color: #999;
    --bio-bg-color: #1E2A3A;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
}

/* General */
.highlight {
    color: var(--main-color);
}

/*Container*/
#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 40px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#about-container {
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 50px;
}

/* Bio Container */
#bio-container h2 {
    margin-bottom: 25px;
    font-size: 24px;
}

#bio-container p {
    margin-bottom: 20px;
}

#bio-container #welcome-text {
    font-weight: bold;
}

#bio-image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#social_container {
    list-style: none;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#social_container li {
    flex: 1 1 0;
    margin: 10px;
}

#social_container li a {
    color: var(--main-color);
    font-size: 30px;
}

#email-container {
    display: flex;
    justify-content: center;
}

#email-container ion-icon,
#email-container a {
    flex: 1 1 0;
}

#email-container a {
    color: var(--main-text-color);
    text-decoration: none;
    margin-left: 14px;
}

#email-container ion-icon {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 5px;
    max-width: 20px;
}